@model ffWeb.UI.MVC.Models.AccountsDetsModel

@{
    ViewBag.Title = "My Accounts";
}


<h2 class="page-title">Accounts Balance </h2>


<div class="clearboth editor-label">

    @using (Html.BeginForm("GetCurrentAccountTransactions", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "current-account-transactions-form" }))
    { 
        <div id="current-account-transactions-div" class="clearboth editor-label">

            <b style="color: black; font-size: 20px;">1. Current Account</b><br />
            <br />

            <b style="color: black; font-size: 30px;">@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N0}", Model.CurrentAcc)  </b>
            <br />

            @Html.HiddenFor(model => model.CurrentAccid, new { id = "CurrentAccid" })<br />

            <a id="CurrentAcc" style="cursor: pointer;" title="Current Account Transactions">Current Account Transactions</a><br />
            <br />

            <div id="currentsearchControls-div" class="displaynone">
            </div>
        </div>          
                    
    }

</div>


<div class="clearboth editor-label">

    @using (Html.BeginForm("GetLoanAccountTransactions", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "loan-account-transactions-form" }))
    { 
        <div id="loan-account-transactions-div" class="clearboth editor-label">

            <b style="color: black; font-size: 20px;">2. Loan Account</b><br />
            <br />

            <b style="color: black; font-size: 30px;">@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N0}", Model.LoanAcc) </b>
            <br />

            @Html.HiddenFor(model => model.LoanAccid, new { id = "LoanAccid" })<br />

            <a id="LoanAcc" style="cursor: pointer;" title="Loan Account Transactions">Loan Account Transactions</a><br />

            <div id="loansearchControls-div" class="displaynone">
            </div>
        </div>          
                    
    }

</div>


<div class="clearboth editor-label">

    @using (Html.BeginForm("GetInvestmentAccountTransactions", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "investment-account-transactions-form" }))
    { 
        <div id="investment-account-transactions-div" class="clearboth editor-label">

            <b style="color: black; font-size: 20px;">3. Investment Account</b><br />
            <br />

            <b style="color: black; font-size: 30px;">@string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N0}", Model.InvestmentAcc)  </b>
            <br />

            @Html.HiddenFor(model => model.InvestmentAccid, new { id = "InvestmentAccid" })<br />

            <a id="InvestmentAcc" style="cursor: pointer;" title="Investment Account Transactions">Investment Account Transactions</a><br />

            <div id="investmentsearchControls-div" class="displaynone">
            </div>
        </div>          
                    
    }

</div>



<div id="SearchTransactionsByDate-div" class="displaynone">

    <label for="datefrom">Date From</label>
    <input type="date" name="datefrom" id="datefrom" value="" class="datepicker text ui-widget-content ui-corner-all" autofocus="autofocus">
    <br />
    <label for="dateto">Date To</label>
    <input type="date" name="dateto" id="dateto" value="" class="datepicker text ui-widget-content ui-corner-all" autofocus="autofocus">
</div>










@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });

        $("#CurrentAcc").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            $("#current-account-transactions-form").submit();

        });

        $("#LoanAcc").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            $("#loan-account-transactions-form").submit();

        });

        $("#InvestmentAcc").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            $("#investment-account-transactions-form").submit();

        });
       
    </script>
}
